.note {
  background: #FEF274;
  border-radius: 5px;
  padding: 32px;
  cursor: pointer;

  h6 {
    font-weight: 300;
    line-height: 17px;
    font-size: 13px;
    letter-spacing: -0.43px;
    color: #979797;
  }

  img {
    max-height: 300px;
    border-radius: 5px;
  }
}


.note {
  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, .1);
    content: '';
    pointer-events: none;
  }

  &::before {
    transform-origin: left top;
  }

  &::after {
    transform-origin: right bottom;
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      transform: scale3d(1, 1, 1);
    }
  }
}
