.note {
  background: #FEF274;
  border-radius: 5px;
  padding: 32px;

  h6 {
    font-weight: 300;
    line-height: 17px;
    font-size: 13px;
    letter-spacing: -0.43px;
    color: #979797;
  }

  img {
    max-height: 300px;
    border-radius: 5px;
  }
}
