.side-bar {
  height: 100%;
  width: 64px;
  background: #153868;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  z-index: 10;
  flex-shrink: 0;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;

  // icons
  .icon {
    cursor: pointer;
    border-radius: 50%;
    padding: 7px;
  }

  .icon:hover {
    background: rgba(255, 255, 255, 0.25);
  }

  // currently selected icon
  .selected {
    .icon{
      cursor: initial;
      background: rgba(0, 0, 0, 0.5);
    }
  }

  // icons @ top of the bar
  .top {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
  }

  // icons @ bottom of the bar
  .bottom {
    align-self: center;
    -webkit-box-flex: 0;
    flex-grow: 0;
    width: 32px;
  }
}
