<div class="container-fluid login-page mx-auto d-flex align-items-center">
  <main class="card mx-auto my-4">
    <figure class="img-container m-auto text-center">
      <img src="../../../../assets/user/login/user.svg" width="150"  height="150" class="img-fluid" alt="user">
    </figure>
    <form class="mt-4">
      <div class="form-group">
        <label for="username">Username</label>
        <input name="username" type="text" class="form-control" placeholder="Enter Username">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" placeholder="Password">
      </div>
      <div class="pt-3">
        <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
      </div>
      <div class="pt-4">
          <span>Don't have an account? </span>
         <a href=""> Sign up now! </a>
      </div>
    </form>
  </main>
</div>
