/* You can add global styles to this file, and also import other style files */

// Bootstrap
//replace bootstrap variables




$warning: orange;
@import "~bootstrap/scss/bootstrap";

// Nunito Font
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600");

// notification style
@import "~angular-notifier/styles";

// colors
$paris-daisy: #fef274;
$shark: #202124;
$tangaroa: #02142c;

* {
  font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
span,
div,
article,
section,
p:not(.notifier__notification-message) {
  color: $shark;
}

h1{
  font-weight: bold;
  font-size: 20px;
}


html {
  height: 100%;
}

body {
  height: 100%;
  background: $tangaroa;
}

.form-group {

  input[type=email],
  input[type=password],
  input[type=text] {
    outline: 0 none;
    border: none;
    background: #E6E7EE;
    color: #43444C;
    border-radius: 7.5px;
  }

  input[type=email]:focus,
  input[type=password]:focus,
  input[type=text]:focus {
    box-shadow: none;
    outline: 0 none;
    border: none;
    background: #E6E7EE;
    color: #43444C;
    border-radius: 7.5px;
  }
}

.card {
  background: #FFFFFF;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 7.5px;
  padding: 40px;
}

.card-columns {
  column-gap: 2.5rem;
}

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }

  @include media-breakpoint-only(md) {
    column-count: 2;
  }

  @include media-breakpoint-only(lg) {
    column-count: 3;
  }

  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}


@media (max-width: 992px) {
  h1, .title-input {
    font-size: 18px !important;
  }
  .btn-flat{
    font-size: 11px;
  }
  body {
    font-size: 12px;
  }
}
